/* font link */

@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

@import "tailwindcss";

@layer utilities {
  .mulish-font {
    font-family: "Mulish", sans-serif;
  }
}

:root {
  --btn-color: rgba(255, 84, 0, 1);
}

.containers {
  max-width: 1170px;
  margin: 0 auto;
}
